@mixin start {
    width: 150px;
    height: 50px;
    font-size: 1.3em;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    transition: 0.3s;

    &:hover {
        background-color: #555;
    }
}