.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3.5em;
    }

    a {
        color: #333;
    }

    .start-screen {
        margin-top: 20px;
        button {
            width: 150px;
            height: 50px;
            font-size: 1.5em;
            margin-right: 10px;
            background-color: #000;
            color: #fff;
            transition: 0.3s;

            &:hover {
                background-color: #555;
            }
        }
    }

    footer {
        position: absolute;
        bottom: 10px;
    }
}
